body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#spacer{
    margin-bottom: 50px !important;
}
#spacerSmall {
    margin-bottom: 20px !important;
}
#warning {
    font-size: smaller !important;
    color: darkred !important;
}
#red {
    color: darkred !important;
}

#editForm{
    height: 100%;
}
#editModal{
    
    height: 500px;
}
   